header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}
h1{
    color: #23252D;
    display: flex;
    align-items: center;
    gap: 9px;
    font-weight:800;
    font-size: 1.3rem;
}
h1 span{
    background: #09327C;
    color: white;
    font-size: 0.9rem;
    text-align: center;
    border-radius: 4px;
    padding: 0px 10px;
}
button{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: #6C6F75;
    font-size: 0.9rem;
    font-weight: 600;
}
button:hover{
    color: #1D3C7A;
}